* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
header,
footer {
  max-width: 1440px;
  margin-inline: auto;
}
.header__container {
  padding: 20px;
}
.logo {
  height: 32px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex--column {
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar {
  padding: 20px;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.cta__buttons button {
  background-color: black;
  color: white;
  height: 30px;
  width: 85px;
  border-style: none;
  font-weight: 600;
}
.cta__buttons button:last-child {
  background-color: white;
  color: black;
  margin-left: 20px;
}

.icon {
  margin-right: 20px;
}
.Ad__image img {
  width: 100%;
  height: 100%;
}

.Ad {
  padding-bottom: 20px;
  padding-inline: 180px;
  background-color: rgba(128, 128, 128, 0.2);
  border-block: 1px solid black;
}

.Ad__title {
  color: #00000080;
  text-align: end;
  font: 14px monospace;
  margin-block: 3px;
}

.page-center {
  max-width: 1240px;
  margin-inline: auto;
}
.newsletter {
  width: 300px;
}
h1 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 30px;
}

.news-card {
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 15px;
}
.news-card-link {
   flex-wrap: nowrap;
   flex: 1 1 85%;
}
.news-img {
  flex: 1 1 30%;
  height: 200px;
}
.news-img img {
  height: 90%;
}
.news-content {
  flex: 1 1 55%;
  height: 200px;
}

.news-meta {
  text-align: right;
  flex: 1 1 15%;
  margin-right:15px;
}
.news-meta,
.category {
  font-weight: lighter;
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.5);
}

.category {
  margin-top: auto;
}

.pagination {
  justify-content: center;
  gap: 5px;
}

.pagination__btn {
  width: 52px;
  height: 51px;
  font-weight: 900;
  border-style: none;
  font-size: 16px;
}

.pagination span {
  font-weight: 900;
  font-size: 16px;
}
.pagination__btn:nth-child(2) {
  background-color: black;
  color: white;
}
.footer__links {
  justify-content: flex-start;
  gap: 15px;
}
