* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.header__container {
  padding: 20px;
}
.logo {
  height: 32px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex--column {
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar {
  padding: 20px;
  justify-content: center;
  gap: 20px;
  border-block: 1px solid rgba(128, 128, 128, 0.3);
}

.cta__buttons button {
  background-color: black;
  color: white;
  height: 30px;
  width: 85px;
  border-style: none;
  font-weight: 600;
}
.cta__buttons button:last-child {
  background-color: white;
  color: black;
  margin-left: 20px;
}

.icon {
  margin-right: 20px;
}
.Ad__image img {
  width: 100%;
  height: 100%;
}

.Ad {
  padding-bottom: 20px;
  padding-inline: 180px;
  background-color: rgba(128, 128, 128, 0.2);
  border-block: 1px solid black;
}

.Ad__title {
  color: #00000080;
  text-align: end;
  font: 14px monospace;
  margin-block: 3px;
}

.page-center {
  max-width: 1240px;
  margin-inline: auto;
}
.newsletter {
  width: 300px;
}
h1 {
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 30px;
}

.news-card {
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 15px;
}
.news-card-link {
  flex-wrap: nowrap;
  flex: 1 1 85%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news-img {
  height: 200px;
  margin-right: 80px;
}
.news-img img {
  height: 90%;
}
.news-content {
  flex: 1 1 45%;
  height: 200px;
}

.news-meta {
  text-align: right;
  flex: 1 1 15%;
  margin-right: 15px;
}
.news-meta,
.category {
  font-weight: lighter;
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.category {
  margin-top: auto;
}

.pagination {
  justify-content: center;
  gap: 5px;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 20px auto 220px auto;
}

.pagination__btn {
  width: 45px;
  height: 51px;
  font-weight: 700;
  border-style: none;
  font-size: 1.1rem;
}

.pagination__btn:nth-child(2) {
  background-color: black;
  color: white;
}
.footer__links {
  justify-content: flex-start;
  gap: 15px;
}
footer {
  border-top: 2px solid black;
}
footer .logo {
  margin: 15px 0 50px 0;
}

footer nav {
  margin-bottom: 30px;
}

.languages__toggle {
  border: none;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  margin-right: 1090px;
  flex-wrap: nowrap;
  min-width: 220px;
}
.language___links {
  justify-content: flex-start;
}
.language___links li {
  flex-basis: 250px;
  font-size: 0.7em;
  line-height: 1.75em;
  padding-left: 100px;
}
.languages {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 60px;
}
.languages__heading {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}
.languages__para {
  margin-block: 10px;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}
.footer__social-links {
  justify-content: flex-start;
  gap: 48px;
  margin-block: 30px;
}

.social-links {
  gap: 30px;
}
.footer__nav,
.footer__copyright {
  font-size: 0.8em;
  margin-block: 20px;
}

.footer__copyright {
  margin-bottom:50px ;
}
.footer__nav {
  gap: 18px;
  justify-content: flex-start;
}
.seperator {
  margin-block: 20px;
}